html
{
    overflow: hidden;
    margin: 0px;
    padding: 0px
}

body
{
    background-color: #d1d6db;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue","Roboto";
}

img
{
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px auto 0 auto;
}

h1, h2
{
    text-align: center;
}

h1, h3
{
    color:#0b0007;    
}

h1
{
    font-size: 24px;
}

h2, li
{
    color:#666666;    
}

h2
{
    font-size: 22px;
    font-weight: 300;
}

h3
{
    margin: 40 25px 15px 25px;
}

a
{
    display: block;
    margin: auto;
    color:#ffffff;
    width: 190px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    text-decoration: none;
    background-color: #007aff;
    border-radius:10px;
    -webkit-tap-highlight-color: transparent;
}

a.active
{
    background-color: #0d3596;
}

.animated {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.95);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: bounceIn;
}
